@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);



input {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}


img{
	align-self: "middle";
}

.thumb {
    background: white;
    border: 1px solid #ddd;
    height: 100%;
}



.col-sm-6 {
    padding-bottom: 20px;
}

.jumbotron {
    text-align: center;
}

