@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);

font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

input {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}

h2{
	font-size: 500%;
	text-align: center;
}

img{
	align-self: "middle";
}

.thumb {
    background: white;
    border: 1px solid #ddd;
}

.col-sm-6 {
    padding-bottom: 20px;
}
