body{
	background-image: url(/images/comida1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
  background-color: black;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height: -40px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.btn{
    background-color: #ff8a00;
    border: #ffb611;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1{
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	color: #ff8a00;
}

.btn:hover{
     background: #ffb611;
}

.btn:active {
	background: #ffb611;
}

label{
    text-align: left;
}

.jumbotron {
  
  border-bottom: 1px solid #e5e5e5;
  background-color:floralwhite;

}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.navbar-default {
    background-color: floralwhite;
    border-color: floralwhite;
}

hr.solid {
    border: 2px solid;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}

h2.logotipo {
	font-size: 500%;
	text-align: center;
    text-decoration-style: solid;
}


.center {
    text-align: center;
    
}