
.footer {
  background-color: black;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  height: -40px;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.btn{
    background-color: #ff8a00;
    border: #ffb611;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1_title {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	color: #ff8a00;
}

.btn:hover{
     background: #ffb611;
}

.btn:active {
	background: #ffb611;
}

label{
    text-align: left;
}

.jumbotron {
  
  border-bottom: 1px solid #e5e5e5;
  background-color:floralwhite;

}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.navbar-default {
    background-color: floralwhite;
    border-color: floralwhite;
}

hr.solid {
    border: 2px solid;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}

h2.logotipo {
	font-size: 500%;
	text-align: center;
    text-decoration-style: solid;
}

.center {
    text-align: center;
    
}

table { 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
}
    
td, th {  border: 0 none; height: 30px; }
      
th {
  /* Gradient Background */
  background: linear-gradient(#333 0%,#444 100%);
  color: #FFF; font-weight: bold;
  height: 40px;
}
    
td { background: #FAFAFA; text-align: center; }

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

/*              CSS FORMULARIOS            */


.Absolute-center {
    padding-left: 25%;
    padding-right: 25%;
}

/*              CSS FAVORITOS            */


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);



input {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

input {
    width: 100%;
}


img{
	align-self: "middle";
}

.thumb {
    background: white;
    border: 1px solid #ddd;
    height: 100%;
}



.col-sm-6 {
    padding-bottom: 20px;
}

.jumbotron {
    text-align: center;
}


