    <div class="jumbotron" ng-controller="SingUpBuscarCtrl">      
        <div class="center">
            <h2 class="logotipo">Buscar</h2>
                <p class="lead">
                    <img src="images/meal.png" alt="I'm Yeoman"><br>
                </p>
            <br>
            <br>
            <hr class="style2">
        </div>       
        <br>
  <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-map-autocomplete ng-model="autocomplete" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
  </div>
      <br>
      <br>
      <br>
      <ng-map  zoom="18" center="current-position">
        <map-data load-geo-json="events.json"></map-data>
      </ng-map>
        <br>
        <br>
      
        <div class="row center">
            <p>
            <a class="btn btn-lg btn-success" ng-click="getFav2()">Finalizar<span ></span></a>
          </p>            
        </div>
    </div>
  
