<div class="container" ng-controller="SingUpBuscarCtrl">
<div class="row">
    <br>

      <div class="col-md-6 col-xs-12 center">
        <img src="images/location.png" alt="I'm Yeoman" width="50%">
      </div>

        <div class="col-md-6 col-xs-12">
            <h3>Información del Establecimiento</h3>
            <hr class="solid">
            <h2><p> Nombre: {{direccionLugar.nombre}}</p></h2>
            <h2><p> Teléfono: {{direccionLugar.telefono}}</p></h2>
            <hr class="solid">
        </div>
        <div class="col-md-6 col-xs-12" style="padding-left:70%;padding-bottom:10px">
          <button type="button" class="btn btn-success">Agregar</button>
          <br>
        </div>

    </div>
</div>
