<div ng-controller="UsuarioCtrl">
<md-dialog class="fullscreen-dialog" aria-label="Full Screen Dialog Test">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="closeDialog()">
            <md-icon class="fa fa-times fa-2x"></md-icon>
          </md-button>
          <h2 flex="flex">Editar</h2>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div layout="layout" layout-lg>
          <md-input-container style="width:80%">
            <label>Nombre:</label>
            <input ng-model="usuario.nombre" placeholder="{{usuario.nombre}}"/>
          </md-input-container>
        <md-input-container style="width:80%">
            <label>Apellidos:</label>
            <input ng-model="usuario.apellido" placeholder="{{usuario.apellido}}"/>
          </md-input-container>
        <md-input-container style="width:80%">
            <label>Teléfono:</label>
            <input ng-model="usuario.telefonos.movil" placeholder="{{usuario.telefonos.movil}}"/>
          </md-input-container>
          <md-input-container style="width:80%">
            <label>Email:</label>
            <input ng-model="usuario.email" placeholder="{{usuario.email}}"/>
          </md-input-container>    
          <md-input-container style="width:80%">
            <label>Nickname:</label>
            <input ng-model="usuario.nickname" placeholder="{{usuario.nickname}}"/>
          </md-input-container>         
          </div>  
          <span class="input-group-btn"> <button class="btn btn-primary" ng-click="hideDialog()">Modificar</button></span>
      </md-dialog-content>
</md-dialog>
</div>