 
  <div class="container">
            
    <div class="jumbotron">
      
        <div class="center">
                <h1>TRAY!</h1>

              <p class="lead">
                <img src="images/meal.png" alt="I'm Yeoman"><br>
              </p>
              <br>
              <br>
        </div>

      <h2 class="center">Modifica tus datos</h2>

      <form class="Absolute-center">
        <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">Nombre:</label>
          <input class="form-control" type="text" id="nombre">
        </div>
    
        <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">Apellidos:</label>
          <input class="form-control" type="text" id="apellidos">
        </div>

        <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">Teléfono:</label>
          <input class="form-control" type="text" id="telefono">
        </div>
    
        <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">E-mail:</label>
          <input class="form-control" type="text" id="email">
        </div>

        <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">Nickname:</label>
          <input class="form-control" type="text" id="nickname">
        </div>
    
        <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">Password:</label>
          <input class="form-control" type="Password" id="password">
        </div>

          <div class="row center">
            <p class="col-md-6 col-xs-12">
                <a class="btn btn-lg btn-success" ng-click="getProfile()">Cancelar<span ></span></a>
            </p>
            <p class="col-md-6 col-xs-12">
                <a class="btn btn-lg btn-success" ng-click="getProfile()">Guardar<span ></span></a>
            </p>
          </div>
      </form>
  </div>
</div>
      
   