<div class="container" id="tourpackages-carousel">
<div class="jumbotron" ng-controller="ComedorCtrl">
        <h2 class="logotipo">Favoritos!</h2>
      
        <!-- First fold -->
        <p class="lead">
          <img src="images/meal.png"alt="I'm Yeoman" height="120" width="120"><br>
        </p>
        <br>
        <br>
        <hr class="style2">
        <br>
        <br>  
        <!-- end of First Fold -->
        
          <table class="TixManagementContent" id="TixManagementContent" width="990px">
          <!-- Contenedor de los thumbnails -->
            <tbody>
              <div class="row">
                  <div class="caption">
                    <div class="animate-repeat" ng-repeat="comedor in modelo.comedores | restaurantes:'nombre'">
                      <div class="col-md-4">
                      <div class="thumb">
                        <h4>Cafetería de Universidad {{comedor.nombre}}</h4>
                        <a ng-click="enviarControlador($index)" >  
                        <p><input type="image" id="myimage" src="{{comedor.imagen}}" height="140"><p/>
                      </div> 
                      </div>
                    </div>
                  </div>
              </div>
            </tbody>
          </table>
          <!-- end contenedor de los thumbnails -->
        
          <br>
          <br>
          <p>
            <div class="form-group">
              <p><a class="btn btn-lg btn-success" ng-click="getBuscarComedor()">Agregar<span ></span></a></p>
            </div>     
          </p>
      </div>    
    </div>
    <!-- End container -->  