
    <div class="container">
        <div class="jumbotron">
    
    
            <div class="center">
                <h2 class="logotipo">Mis amigos</h2>
                <p class="lead">
                    <img src="images/meal.png" alt="I'm Yeoman"><br>
                </p>
                <br>
                <br>
                <hr class="style2">
            </div>       
            <br>

      <table class="TixManagementContent" id="TixManagementContent" width="990px">
           <tbody>
             <div class="carousel-inner" id="wrapper">
                <div class="item active">
                  <div class="col-md-4">
                    <a href="#" class="thumbnail">
                       <img src="images/dani.jpg" alt="ALT NAME" width=80% >
                        <div class="caption">
                        <h3>Daniela M</h3>
                          <p>
                            <button  href="5567893456" class="btn btn-primary" target="_top">Llamar</button>
                          </p>
                        </div>
                    </a>
                  </div>                              
      <div class="col-md-4">
        <a href="#" class="thumbnail">
            <img src="images/itzel.jpg" alt="ALT NAME">
            <div class="caption">
              <h3>Itz Pérez</h3>
            <p>
              <button  href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Llamar</button>
            </p>
          </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="#" class="thumbnail">
            <img src="images/alex.jpg" alt="ALT NAME">
            <div class="caption">
              <h3>Alex C</h3>
            <p>
              <button  href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Llamar</button>
            </p>
          </div>
        </a>
     </div>

     <div class="col-md-4">
        <a href="#" class="thumbnail">
            <img src="images/yukio.jpg" alt="ALT NAME">
            <div class="caption">
              <h3>Yuks</h3>
            <p>
              <button href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Agregar</button>
            </p>
          </div>
        </a>
     </div>
  </div> 
    <div class="col-md-4">
      <a href="#" class="thumbnail">
          <img src="images/jose.jpg" alt="ALT NAME">
          <div class="caption">
            <h3>Jose</h3>
          <p>
        <button href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Agregar</button>
          </p>
        </div>
      </a>
    </div>    
  </div> 
  </div>
  </div>
  </td>
  </tr>
  </table>
  </tbody>
  </div>
  </div>

</body>
