
    <div class="container">
        <div class="jumbotron" ng-controller="FriendsCtrl">
    
    
            <div class="center">
                <h2 class="logotipo">Mis amigos</h2>
                <p class="lead">
                    <img src="images/meal.png" alt="I'm Yeoman"><br>
                </p>
                <br>
                <br>
                <hr class="style2">
            </div>       
            <br>

      <table class="TixManagementContent" id="TixManagementContent" width="990px">
           <tbody>
             <div class="carousel-inner" id="wrapper">
                <div class="item active" class="animate-repeat" ng-repeat="usuario in modelo.usuarios">
                  
                  <div class="col-md-4">
                    <a href="#" class="thumbnail">
                       <img src="{{usuario.friends.friend1.foto}}" alt="ALT NAME" width=80% >
                        <h3>{{usuario.friends.friend1.nombre}}</h3>
                          <p>
                            <button  href="5567893456" class="btn btn-primary" target="_top">Llamar</button>
                          </p>
                    </a>
                  </div>  

                  <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="{{usuario.friends.friend2.foto}}" alt="ALT NAME">
                          <h3>{{usuario.friends.friend2.nombre}}</h3>
                        <p>
                          <button  href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Llamar</button>
                        </p>
                    </a>
                  </div>

                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="{{usuario.friends.friend3.foto}}" alt="ALT NAME">
                          <h3>{{usuario.friends.friend3.nombre}}</h3>
                        <p>
                          <button  href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Llamar</button>
                        </p>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="{{usuario.friends.friend4.foto}}" alt="ALT NAME">
                          <h3>{{usuario.friends.friend4.nombre}}</h3>
                        <p>
                          <button href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Agregar</button>
                        </p>
                    </a>
                </div>

                <div class="col-md-4">
                  <a href="#" class="thumbnail">
                      <img src="{{usuario.friends.friend5.foto}}" alt="ALT NAME">
                        <h3>{{usuario.friends.friend5.nombre}}</h3>
                      <p>
                    <button href="http://artsnaplesworldfestival.tix.com/" class="btn btn-primary" target="_top">Agregar</button>
                      </p>
                  </a>
                </div>
      </table>
    </tbody>
  </div>