<div class="container">
    <div class="jumbotron" ng-controller="ComedorCtrl">
      
        
       <div class="center">
                <h1>Información</h1>

              <p class="lead">
                <img src="images/meal.png" alt="I'm Yeoman"><br>
              </p>
              <hr class="style2">
              <br>
              <br>
        </div>        
    <div class="row">
        <div class="col-md-6 col-sm-12 center">
          <p class="lead">
            <img src="{{comedores.imagen}}"  style='width:60%;'><br>
          </p>
      
        <table class="table ">
       <tbody>
            <td>{{comedores.nombre}}<td>
              <td>{{comedores.telefonos.TelFijo}}<td>
      </tbody>
  </table>
        </div>    
        <div class="col-md-6 col-sm-12">
           <p class="lead">
            <img src="images/mapatec.png" width="80%"><br>
            </p>
        </div>
    </div>    
                

    <div class="row center">
      <p>
        <a class="btn btn-lg btn-success" ng-click="getFav()">Regresar<span ></span></a>
      </p> 
      <p>
        <a class="btn btn-lg btn-success" href="#!/reservacion">Reservación<span ></span></a>
      </p>       
    </div>        
   

  </div>
  </div>
      
      
        
