<!-- Este jumbotron coloca el cuadrado de login y registro, se puede separar como template-->      
<div class="jumbotron" ng-controller="MainCtrl">
  <h1>TRAY!</h1>
  <p class="lead">
    <img src="images/meal.png" alt="I'm Yeoman"><br>
    Reserva con aticipación y ayuda a tu ciudad.
  </p>
  <br>
  <br>
  <p>
      <a class="btn btn-lg btn-success" ng-href='#!/singup'>Sign up<span ></span></a> 
      <a class="btn btn-lg btn-success" ng-href='#!/login'>Log  in <span ></span></a>
  </p>

  <p>
      <img src="images/fbicon.png" alt="fbicon" height="40" width="200">
  </p>

  <p>
      <img src="images/Linkedinicon.png" alt="Linkedinicon" height="45" width="205">
  </p>

</div>

      <h1>{{text}}</h1>
      
      
      
      
      

