<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Tray</title>
    <link rel="stylesheet" type="text/css" href="app/styles/mycss.css">

  </head>

  <body>
<div class="jumbotron">
  <h1>TRAY!</h1>
  <p class="lead">
    <img src="images/meal.png" alt="I'm Yeoman"><br>
    Reserva con aticipación y ayuda a tu ciudad.
  </p>
  <br>
  <br>
  <p>
      <a class="btn btn-lg btn-success" ng-href="app/formulario.html">Sign up<span ></span></a> 
      <a class="btn btn-lg btn-success" ng-href="app/login.html">Log  in <span ></span></a>
  </p>

  <p>
      <img src="images/fbicon.png" alt="fbicon" height="40" width="200">
  </p>

  <p>
      <img src="images/Linkedinicon.png" alt="Linkedinicon" height="45" width="205">
  </p>

</div>

<div class="row marketing">
</div>
</body>
</html>