
  <head>
    <meta charset="utf-8">
    <title>Tray</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="styles/mycss.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  
<div class="container">
    <div class="jumbotron" ng-controller="UsuarioCtrl">
      
            <div class="center">
                <h2 class="logotipo">Mis preferencias</h2>
                <p class="lead">
                    <img src="images/person.png" alt="I'm Yeoman"><br>
                </p>
                <br>
                <br>
                <hr class="style2">
            </div>       
            <br>

            <div class="animate-repeat" ng-repeat="usuario in modelo.usuarios">
                <h2>Comida</h2>
                <hr class="solid">
                <p> Res: {{usuario.preferencias.comida.res}}</p>
                <p> Pollo: {{usuario.preferencias.comida.pollo}}</p>
                <h2>Alergias</h2>
                <hr class="solid"> 
                <p> Pollo: {{usuario.preferencias.comida.pollo}}</p>
                <h2>Enfermedades</h2>  
                <hr class="solid"> 
                <p>Triglicéridos: {{usuario.preferencias.enfermedades.trigliceridos}}</p>

            </div>    
        </div>



        </div>    
        </div>
        <div class="row center">
            <p>
              <a class="btn btn-lg btn-success" ng-href="#!/editarPreferencias">Editar<span ></span></a>
            </p>            
        </div>


    </div>
  </div>

