<div class="header" ng-controller="HeaderCtrl">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" ng-click="getFavoritos()"><img src="images/meal.png" alt="I'm Yeoman" width="30"></a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
            <li><a ng-href="#!/favoritos">Inicio</a></li>
              <li><a ng-href="#!/perfil">Mi perfil</a></li>
              <li><a ng-href="#!/singup_buscar_comedor">Buscar establecimientos</a></li>              
              <li><a ng-href="#!/favoritos">Favoritos</a></li>
              <li><a ng-href="#!/perfil">Food facts</a></li>
              <li><a ng-href="#!/friends">Amigos</a></li>
              <li><a ng-href="#!/reportes">Reportes</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#!/">Cerrar Sesion</a></li>
            </ul>  
          </div>
      </div>
    </div>
