<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Tray</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="app/styles/mycss.css">

  </head>

  <body>
<div class="jumbotron">
  <h1>TRAY!</h1>
  <p class="lead">
    <img src="images/meal.png" alt="I'm Yeoman"><br>
    Reserva con aticipación y ayuda a tu ciudad.
  </p>
  <br>
  <br>
  <p>
     <div class="form-group">
          <label for="example-search-input" class="col-2 col-form-label">Nickname:</label>
          <input class="form-control" type="text" id="nickname">
        </div>
  </p>

  <p>
      <img src="images/fbicon.png" alt="fbicon" height="40" width="200">
  </p>

  <p>
      <img src="images/Linkedinicon.png" alt="Linkedinicon" height="45" width="205">
  </p>

</div>

<div class="row marketing">
</div>
</body>
</html>