
    
      <div class="jumbotron">  
      <div class="center">
        <h2 class="logotipo">Mi Reportes</h2>
          <p class="lead">
            <img src="images/meal.png" alt="I'm Yeoman"><br>
            Analiza y toma las mejores decisiones.
          </p>
          <br>
          <br>
        </div>          
          
          <br>
          <br>

      <div class="row">
        <div class="col-md-8">
         <a href="preferenciasReporte.html" class="thumbnail">Preferencias
          <img src="images/pie.png" alt="ALT NAME" width="70%">
      </a>    
      </div>
        <div class="col-md-4"><a href="#" class="thumbnail">Alergias
          <img src="images/pie.png" alt="ALT NAME" >
      </a></div>
      </div>
      </div>
    

