<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Tray</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="app/styles/mycss.css">
    <link rel="stylesheet" type="text/css" href="app/styles/logincss.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  </head>
    <div class="container">
      <div class="jumbotron">  
      <div class="center">
        <h2 class="logotipo">Mi Reportes</h2>
          <p class="lead">
            <img src="images/meal.png" alt="I'm Yeoman"><br>
            Analiza y toma las mejores decisiones.
          </p>
          <br>
          <br>
        </div>          
          
          <br>
          <br>

      <div class="row">
        <div class="col-md-8">
         <a href="preferenciasReporte.html" class="thumbnail">Preferencias
          <img src="images/pie.png" alt="ALT NAME" width="70%">
      </a>    
      </div>
        <div class="col-md-4"><a href="#" class="thumbnail">Alergias
          <img src="images/pie.png" alt="ALT NAME" >
      </a></div>
      </div>
      </div>
    </div>

    <div class="footer">
        <div class="container">
          <p><span class="glyphicon glyphicon-heart"></span> from the Tray team</p>
        </div>
    </div>
    
  </body>
</html>