    <div class="container">
:
        <div class="jumbotron" ng-controller="ReservacionCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                            <h1>TRAY!</h1>
                            <p class="lead">
                            </p>
                            <br>
                            <br>                        
                    </div>
                    <div>
                        <p>Fecha: 
                        <input type="text" name="fecha" ng-model="fecha"></p>
                        <p>Hora: 
                        <input type="text" name="hora" ng-model="hora"></p>
                        <p>Res: 
                        <input type="text" name="res" ng-model="res"></p>
                        <p>Pollo: 
                        <input type="text" name="pollo" ng-model="pollo"></p>
                        <p>Pescado: 
                        <input type="text" name="pescado" ng-model="pescado"></p>
                        <p>Vegetariano: 
                        <input type="text" name="vegetariano" ng-model="vegetariano"></p>
                        <button type="button" ng-click="reservar()">Reservar</button>{{resultadoInsercion}}
                    </div>
                </div>
            </div>
        </div>        
     </div> 

     <script type="text/javascript">
      function notif(){
        alert("Reserva Confirmada");
      }
     </script>
