    <div class="container">
:
        <div class="jumbotron" ng-controller="ReservacionCtrl">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                            <h1>TRAY!</h1>
                            <p class="lead">
                            </p>
                            <br>
                            <br>                        
                    </div>
                    <div>
                          <h2>Elige tus preferencias del día:</h2>
                          <input type="checkbox" name="preferencias" value="Res" ng-model="res">Res<br>
                          <input type="checkbox" name="preferencias" value="Pescado" ng-model="pescado">Pescado<br>
                          <input type="checkbox" name="preferencias" value="Pollo" ng-model="pollo">Pollo<br>
                          <input type="checkbox" name="preferencias" value="Vegetariano" ng-model="vegetariano">Vegetariano<br>            
                        <br>
                        <p>Fecha: 
                        <input type="text" name="fecha" ng-model="fecha"></p>
                        <p>Hora: 
                        <input type="text" name="hora" ng-model="hora"></p>
                        <button type="button" ng-click="reservar()">Reservar</button>{{resultadoInsercion}}
                    </div>
                </div>
            </div>
        </div>        
     </div> 

     <script type="text/javascript">
      function notif(){
        alert("Reserva Confirmada");
      }
     </script>
