<div class="jumbotron" ng-controller="UsuarioCtrl">
<div class="row">
    <br>

      <div class="col-md-6 col-xs-12 center">
        <img src="images/profile.png" alt="I'm Yeoman" width="50%">
      </div>

        <div class="col-md-6 col-xs-12">
          <div class="animate-repeat" ng-repeat="usuario in modelo.usuarios">
            <h2>Datos personales</h2>
            <hr class="solid">
            <p> Nombre: {{data.nombre}}</p>
            <p> Apellidos: {{data.apellido}}</p>
            <p> Teléfono: {{data.telefonos.movil}}</p>
            <p> E-mail: {{data.email}}</p>
            <p> Nickname: {{data.nickname}}</p>
            <hr class="solid">                
          </div>    
        </div>
        

    </div>
</div>