<div class="jumbotron" ng-controller="SingUpPrefCtrl">
    <h1>TRAY!</h1>
    <p class="lead">
        <img src="images/meal.png" alt="I'm Yeoman"><br>
        Reserva con aticipación y ayuda a tu ciudad.
    </p>
    <br>
    <br>
    <!-- Fin del firstFold -->
    
<div class="row">
            <div class="col-md-4 col-sm-6">
            <h1 class="center">1</h1>
            <form class="form align-left">
              <h2>Elige tus preferencias</h2>
                <label>Res:
                    <input type="checkbox" ng-model="checkboxModel.value1">
                </label><br>
                <label>Pescado
                <input type="checkbox" ng-model="checkboxModel.value2">
                </label><br>
                <label>Pollo
                <input type="checkbox" ng-model="checkboxModel.value3">
                </label><br>
                <label>Vegetariano
                    <input type="checkbox" ng-model="checkboxModel.value4">
                </label>
            </form>
            </div>
            
            <!-- Selector de alérgenos -->
            <div class="col-md-4 col-sm-6">
            <h1 class="center">2</h1>
                <h2>Alérgenos</h2>  
                <div class="form-group">
                    <label for="exampleSelect">Elige una opción</label>
                  <select class="form-control" name="mySelect" id="mySelect" ng-options="option.name for option in alergenosDataPrefs.opciones track by option.id" ng-model="alergenosDataPrefs.selectedOption"></select>
              </div>
            </div>
            <!-- Fin del selector de alérgenos-->
            
            <!-- Selector de Enfermedades -->
            <div class="col-md-4 col-sm-6">
            <h1 class="center">3</h1> 
                <h2>Enfermedades</h2>
                <div class="form-group">
                  <label for="exampleSelect1">Elige una opción</label>
                    <select class="form-control" name="mySelect1" id="mySelect1" ng-options="option.name for option in enfermedadesDataPrefs.opciones track by option.id" ng-model="enfermedadesDataPrefs.selectedOption"></select>               
              </div>
            </div>     
            <!-- Fin del selector de Enfermedades -->
    
    </div>

        <p class="center">
          <br>
          <a class="btn btn-lg btn-success center-block" ng-click="getPreferences()">Next <span ></span></a>
        </p>


    
  </div>
    
    