<!-- Inicio del FirsFold -->
<div class="jumbotron" ng-controller="SingUpCtrl">
    <h1>TRAY!</h1>
    <p class="lead">
        <img src="images/meal.png" alt="I'm Yeoman"><br>
        Reserva con aticipación y ayuda a tu ciudad.
    </p>
  <br>
  <br>
  <h2 class="center">Ingresa tus datos</h2>
<!-- Fin del FirstFold -->
    
<!-- Form de registro -->    
    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label control-label">Nombre:</label>
      <input class="form-control" ng-model="nombre" type="text" id="nombre" required>
    </div>

    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label">Apellidos:</label>
      <input class="form-control" type="text" id="apellido" ng-model="apellido">
    </div>

    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label">Teléfono:</label>
      <input class="form-control" type="text" id="telefono" ng-model="telefono">
    </div>

    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label">E-mail:</label>
      <input class="form-control" type="text" id="email" ng-model="email">
    </div>

    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label">Nickname:</label>
      <input class="form-control" type="text" id="nickname" ng-model="nickname">
    </div>

    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label">Edad:</label>
      <input class="form-control" type="text" id="edad" ng-model="edad">
    </div>

    <div class="form-group">
      <label for="example-search-input" class="col-2 col-form-label">Password:</label>
      <input class="form-control" type="password" name="password" id="password" ng-class="{'has-error': myForm.pass.$invalid}" ng-model="password">
    </div>

    <p class="center">
      <!--<a class="btn btn-lg btn-success" ng-click="getRegister()">Next <span ></span></a>-->
      <button type="button" ng-click="registrar()">Registrar</button>{{resultadoInsercion}}
    </p>
</div>
<!-- Fin del Form de registro -->    